{% extends 'learning/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow p-4">
            <h2 class="mb-4">{% if title %}{{ title }}{% else %}Настройки{% endif %}</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                
                {% for field in form %}
                <div class="mb-3">
                    <label class="form-label font-weight-bold">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                        <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                
                <button type="submit" class="btn btn-success w-100 mt-3">Выполнить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}